@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexSansRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton';
  src: url('/fonts/AntonRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
