---
import { Typography } from '@/lib/ui';
---

<div
  class="flex min-h-screen w-screen flex-col items-center justify-center bg-[#121212] font-ibm text-2xl text-neutral-50"
>
  <Typography tag="h1" className="text-2xl"> Hello World. </Typography>
  <Typography tag="h2" font="anton" className="font-anton"> anton test </Typography>
</div>
