---
import { Typography } from '@/lib/ui';
import { cn } from '@/lib/utils';

type Props = {
  from: string;
  to?: string;
  companyName: string;
  position?: string;
  special?: boolean;
};

const { from, to = 'PRESENT', companyName, position = '', special = false } = Astro.props;
---

<li class="flex basis-full flex-col md:flex-1">
  <Typography font="anton" size="xl" class="select-none text-neutral-500">
    {from} - {to}
  </Typography>
  <Typography
    font="anton"
    size="xl"
    tag="h3"
    class={cn('leading-none pb-2.5', {
      'text-orange-400': special,
    })}
  >
    {companyName}
  </Typography>
  {
    !!position && (
      <Typography font="sans" class="pb-2.5 leading-none text-neutral-500">
        {position}
      </Typography>
    )
  }
  <hr class="bg-neutral-50" />
</li>
