---
import { Typography, Icon } from '@/lib/ui';
---

<footer class="relative flex h-svh w-svw bg-noise-light text-neutral-900">
  <div class="fixed inset-0 flex size-full flex-col items-center justify-center gap-y-[.75vw]">
    <Typography tag="span" font="anton" size="xl" class="select-none tracking-tight">
      GANDER<Typography tag="span" font="anton" size="xl" class="text-orange-400">BITE</Typography>
    </Typography>
    <Typography size="lg"
      >Let's talk about <Typography tag="span" size="lg" class="text-orange-400"
        >the future</Typography
      ></Typography
    >
    <div
      class="absolute right-1.5 top-1/2 flex -translate-y-1/2 flex-col gap-y-8 md:right-3.5 lg:right-8"
    >
      <a href="https://github.com/mGasiorek998" aria-label="Go to my github page">
        <Icon icon="github" />
      </a>
      <a href="https://www.linkedin.com/in/m-gasiorek/" aria-label="Go to my linkedin">
        <Icon icon="linkedin" />
      </a>
    </div>
  </div>
  <div class="absolute bottom-2.5 left-1/2 -translate-x-1/2 px-2.5 md:px-3.5 lg:px-8">
    <a class="flex flex-col text-center" href="mailto:ganderbite@gmail.com">
      <Typography tag="span" size="sm" class="leading-0">BUISNESS INQUERIES</Typography>
      <Typography tag="span" class="leading-0 -mt-1 underline">ganderbite@gmail.com</Typography>
    </a>
  </div>
  <div class="absolute bottom-2.5 left-2.5 text-neutral-900/40">
    © 2024 GanderBite. All right reserved
  </div>
</footer>
