---
import Footer from '@/layouts/Footer.astro';
import AppHead from '@/layouts/AppHead.astro';
import '@/styles/font-faces.css';

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <AppHead title={title} description={description} />
  <body class="relative min-h-svh w-svw" style="height: calc(100% + 100vh)">
    <header
      slot="header"
      class="relative z-10 bg-neutral-900 bg-noise-dark px-2.5 md:px-3.5 lg:px-8"
    >
      <slot name="header" />
    </header>
    <main
      class="relative z-10 bg-neutral-900 bg-noise-dark px-2.5 text-neutral-50 md:px-3.5 lg:px-8"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
