---
import { ViewTransitions } from 'astro:transitions';
import { Footer } from '@/lib/ui';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="relative min-h-svh w-svw bg-neutral-900" style="height: calc(100% + 100vh)">
    <header slot="header" class="relative z-10 bg-neutral-900 px-2.5 md:px-3.5 lg:px-8">
      <slot name="header" />
    </header>
    <main class="relative z-10 bg-neutral-900 px-2.5 text-neutral-50 md:px-3.5 lg:px-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
